# My Exclusions
DesktopSearch.Core/Bin
DesktopSearch.Core/Obj
DesktopSearch.PS/Bin
DesktopSearch.PS/Obj
Test/DesktopSearch.Core.Tests/Bin
Test/DesktopSearch.Core.Tests/Obj
Test/DesktopSearch.PS.Tests/Bin
Test/DesktopSearch.PS.Tests/Obj
RegisterPerformanceCounters/bin
RegisterPerformanceCounters/obj
ServiceFabric/bin
ServiceFabric/obj

elasticsearch-*
packages

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.~vsdx
*.user
ServiceFabric/bin/Debug/nunit_random_seed.tmp
/.vs
/Report170401.vsp
/powershell.psess
/Performance.psess
/Concurrency.vsp
